USE [master]
GO
drop database UserManagement
go

CREATE DATABASE [StoreManagement] 

USE [StoreManagement]
GO

delete tblUsers  where 1=1
go


CREATE TABLE [dbo].[tblUsers](
	[userID] [nvarchar](50) NOT NULL,
	[fullName] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
	[roleID] [nvarchar](50) NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK_tblUsers] PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tblUsers] ([userID], [fullName], [password], [roleID], [status]) VALUES (N'admin', N'Toi la admin', N'1', N'AD', 1)
INSERT [dbo].[tblUsers] ([userID], [fullName], [password], [roleID], [status]) VALUES (N'Hoa', N'Hong Hoa', N'1', N'US', 1)
INSERT [dbo].[tblUsers] ([userID], [fullName], [password], [roleID], [status]) VALUES (N'ĐE', N'Ngo Ha Tri Bao', N'1', N'AD', 1)

USE [StoreManagement]
GO

-- Tạo bảng Products
CREATE TABLE [dbo].[tblProducts](
	[productID] [nvarchar](50) NOT NULL,
	[productName] [nvarchar](100) NOT NULL,
	[price] [decimal](18, 2) NOT NULL,
	[quantity] [int] NOT NULL,
 CONSTRAINT [PK_tblProducts] PRIMARY KEY CLUSTERED 
(
	[productID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

-- Thêm dữ liệu mẫu vào bảng Products
INSERT [dbo].[tblProducts] ([productID], [productName], [price], [quantity]) VALUES (N'P001', N'Apple', 20000, 100)
INSERT [dbo].[tblProducts] ([productID], [productName], [price], [quantity]) VALUES (N'P002', N'Banana', 15000, 50)
INSERT [dbo].[tblProducts] ([productID], [productName], [price], [quantity]) VALUES (N'P003', N'Orange', 23000, 80)


USE [StoreManagement]
GO
-- Tạo bảng Cart
CREATE TABLE [dbo].[tblCart](
	[cartID] [nvarchar](50) NOT NULL,
	[userID] [nvarchar](50) NOT NULL,
	[createdDate] [datetime] NOT NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_tblCart] PRIMARY KEY CLUSTERED 
(
	[cartID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

-- Tạo bảng Cart_Item
CREATE TABLE [dbo].[tblCart_Item](
	[cartItemID] [nvarchar](50) NOT NULL,
	[cartID] [nvarchar](50) NOT NULL,
	[productID] [nvarchar](50) NOT NULL,
	[quantity] [int] NOT NULL,
 CONSTRAINT [PK_tblCart_Item] PRIMARY KEY CLUSTERED 
(
	[cartItemID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO


-- Thêm khóa ngoại cartID vào bảng Cart_Item
ALTER TABLE [dbo].[tblCart_Item]  WITH CHECK ADD  CONSTRAINT [FK_tblCart_Item_tblCart] FOREIGN KEY([cartID])
REFERENCES [dbo].[tblCart] ([cartID])
GO

-- Thêm khóa ngoại productID vào bảng Cart_Item
ALTER TABLE [dbo].[tblCart_Item]  WITH CHECK ADD  CONSTRAINT [FK_tblCart_Item_tblProducts] FOREIGN KEY([productID])
REFERENCES [dbo].[tblProducts] ([productID])
GO


-- Hoàn thành việc thêm khóa ngoại
ALTER TABLE [dbo].[tblCart_Item] CHECK CONSTRAINT [FK_tblCart_Item_tblCart]
GO

ALTER TABLE [dbo].[tblCart_Item] CHECK CONSTRAINT [FK_tblCart_Item_tblProducts]
GO

CREATE TABLE [dbo].[tblOrder](
	order_id int identity(1,1) primary key,
	order_date date,
	total money,
	customer_name nvarchar(50),
	customer_address nvarchar(100),
	customer_phone varchar(12),
	order_status varchar(15) default 'processing'
)

GO

create table Order_Detail (
	order_detail_id int identity(1,1) primary key,
	quantity int,
	price money,
	product_id  varchar(10),
	order_id int, 
)